
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:lightblue;font-size:45px;">
        <b></b>
    </div>
    <div>
        <pre> 
WFS'de hesap açtığınız için teşekkür ederiz! Başlamadan önce hesabınızı doğrulamamız gerekecek. Bunu yapmak için, aşağıdaki hesabımı etkinleştir yazan bağlantıyı tıklayın.

        <a href="ViewBag.ConfirmationLink">HESABIMI ETKİNLEŞTİR </a>
        </pre>
    </div>
</body>
</html>
